<!--<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card" *ngIf="!usuario">
        <div class="card-body">
          <div class="mb-3">
            <label for="email" class="col-form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="loginInfo.email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="loginInfo.password" name="password"
              required>
          </div>
          <button (click)="login()" class="btn btn-primary mb-3">Login</button>
          <a class="link-primary float-end" [routerLink]="'/forgotten-password'">He olvidado mi contraseña</a>
          <div *ngIf="error" class="alert alert-danger" role="alert">
            {{error}}
          </div>
        </div>
      </div>
        <div class="card" *ngIf="usuario">
          <div class="card-body">
            <p class="alert alert-warning">Si quiere hacer login debe cerrar primero la sesión actual.</p>
          </div>
        </div>
    </div>
  </div> -->


  
    <div class="container" [ngClass]="{ 'right-panel-active': isRightPanelActive }" id="container">
      <div class="form-container sign-up-container">
        <form action="#">
          <h1>Crea tu Cuenta</h1>
          <div class="social-container">
            <a href="#" class="social">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="#" class="social">
              <i class="bi bi-google" id="red"></i>
            </a>
            <a href="#" class="social">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
          <span>o usa tu email como registro</span>
          <input type="text" id="nameR" placeholder="Name" [(ngModel)]="user.nombre" name="nombre" />
          <input type="text" id="surname1R" placeholder="First Surname" [(ngModel)]="user.apellido1" name="apellido1" />
          <input type="text" id="surname2R" placeholder="Second Surname" [(ngModel)]="user.apellido2" name="apellido2" />
          <input type="email" id="emailR" placeholder="Email" [(ngModel)]="user.email" name="email" />
          <input type="password" id="passwordR" placeholder="Password" [(ngModel)]="user.password" name="password" />
          <input type="password" id="password2R" placeholder="Repeat Password" [(ngModel)]="password2" name="password2" />
          <button type="button" id="lila" (click)="onClickRegistrar()">Registrar</button>
          <div class="error-message" [ngClass]="{ 'red-text': errorMessageR }" *ngIf="errorMessageR">{{ errorMessageR }}</div>
          <div class="error-message" [ngClass]="{ 'green-text': successMessageR }" *ngIf="successMessageR">{{ successMessageR }}</div>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Iniciar Sesión</h1>
          <div class="social-container">
            <a href="#" class="social">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="#" class="social">
              <i class="bi bi-google" id="red"></i>
            </a>
            <a href="#" class="social">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
          <span>o usa tu email</span>
          <input type="email" id="emailL" placeholder="Email" [(ngModel)]="login.email" name="email" />
          <input type="password" id="passwordL" placeholder="Password" [(ngModel)]="login.password" name="password" />
          <a class="link-primary float-end" [routerLink]="'/forgotten-password'">Olvidaste tu contraseña?</a>
          <button (click)="onClickIniciarSesion()">Iniciar Sesión</button>
          <div class="error-message" [ngClass]="{ 'red-text': errorMessageI }" *ngIf="errorMessageI">{{ errorMessageI }}</div>
          <div class="error-message" [ngClass]="{ 'green-text': successMessageI }" *ngIf="successMessageI">{{ successMessageI }}</div>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>¡Bienvenido!</h1>
            <p>
              Inicia sesión con tu cuenta
            </p>
            <button class="ghost" (click)="togglePanel()" id="signIn">Inicia sesión</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hola!!!</h1>
            <p>
              Crear tu cuenta
            </p>
            <button class="ghost" (click)="togglePanel()" id="signUp">Registrar</button>
          </div>
        </div>
      </div>
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
  