<div class="container">
  <div class="row">
    <div class="col-12" *ngIf="isAdministrador()">
      <h1 class="text-center">Listado de usuarios</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Administrador</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios" class="align-middle">
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellido1}} {{usuario.apellido2}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.administrador?'Sí':'No'}}</td>
            <td><button class="btn btn-sm btn-outline-primary m-1" (click)="editarUsuario(usuario)"><i class="bi bi-pencil-fill"></i></button>
              <button (click)="eliminarUsuario(usuario.id)" class="btn btn-sm btn-outline-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-outline-success bi bi-plus-lg" (click)="aniadirUsuario()"></button>
    </div>
    <div class="col-12" *ngIf="!isAdministrador()">
      <p class="alert alert-danger">No tiene permisos para ver este contenido.</p>
  </div>
</div>
