<div class="container">
    <h1> Texto de prueba </h1>
    <!-- 
        <div class="row">
        <app-formulario-contacto></app-formulario-contacto>
        </div>
        <div class="row">
            <app-detalle-contacto></app-detalle-contacto>
        </div>
     -->
     <!-- 
       -- Ejemplo de código HTML de la rama info/sesion

     <div class="row">
        <app-tabla-info-sesion></app-tabla-info-sesion>
    </div>
    
    <div class="row">
        <app-contacto-sesion></app-contacto-sesion>
    </div>
    -->
</div>