<body>
<div class="row">
  <div class="col-2">
    <a *ngIf="!usuarioSesion"  [routerLink]="'/login'"><button class="btn btn-primary">Empezar</button></a>
    <button *ngIf="usuarioSesion"  class="btn btn-primary" (click)="logout()">Cerrar sesión</button>
</div>
    <h3 class="col-6">Gestión de entrenamientos deportivos</h3>
    <div class="col-1" *ngIf="usuarioSesion">
      <p class="align-middle m-1">Bienvenido, {{usuarioSesion.nombre}}</p>
    </div>
    <div class="col-1" >
      <select *ngIf="usuarioSesion" class="form-select" [(ngModel)]="rolIndex">
        <option *ngFor="let rol of usuarioSesion.roles, let i = index" [value]="i" >{{rol.rol | titlecase}} {{rol.nombreCentro?'en '+rol.nombreCentro:''}}</option>
      </select>
    </div>
    
</div>


  <div class="navbar-nav">
    <a *ngIf="!usuarioSesion" class="nav-item nav-link" [routerLink]="''">Home</a>
    <a *ngIf="usuarioSesion" class="nav-item nav-link" [routerLink]="'principal'">Home</a>
  </div>
</body>

<router-outlet />
