<div class="container">
    <h4 class="mt-4">SESIÓN {{sesion.id}}</h4>
    <!-- Seccion con las tablas-->
    <div class="seccion">
        <div class="usuario">
            <h2 style="text-align: center;">Información de la sesión</h2>
                <b>Inicio:</b>
                {{sesion.inicio | date: "shortDate"}} <br>
                <b>Fin:</b>
                {{sesion.fin | date: "shortDate"}} <br>
                <b>Actividad realizada:</b>
                {{sesion.trabajoRealizado}} <br>
                <b>Tipo de sesión: </b>
                {{sesion.presencial ? "Presencial" : "Online"}}
        </div>
        <div class="ejercicio">
            <h2 style="text-align: center;">Informe general</h2>
            <div>
                <div *ngFor="let dato of sesion.datosSalud">
                  <b>Salud:</b>
                    {{dato}}
                </div>
                <div *ngFor="let link of sesion.multimedia">
                    <b>Multimedia: </b>
                    <a [href]="link"><img [src]="link" alt={{link}}></a> 
                </div>
            </div>
        </div>
    </div>
    <!-- Seccion de comentarios al entrenador -->
    <div class="comentarios">
        <h4 class="mt-4">CONTACTO</h4>
        <div class="card">
          <div class="card-body">
            
            <!-- Formulario de envío de mensajes -->
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Escríbele algo a tu entrenador"
              aria-label="Escribe tu mensaje aquí" [(ngModel)]="nuevoMensaje" (keyup.enter)="enviarMensaje()">
              <div class="input-group-append">
                <button class="btn btn-outline-primary btn-enviar-mensaje" type="button" (click)="enviarMensaje()">
                  <i class="bi bi-envelope-fill"></i> Enviar
                </button>
              </div>
            </div>
      
            <!-- Sección para mostrar mensajes enviados -->
            <div *ngFor="let mensaje of mensajes; let i = index" class="mensaje">
              <div class="mensaje-enviado">
                
                <img src="https://media.licdn.com/dms/image/D4D35AQFTaXlrzU8GLw/profile-framedphoto-shrink_400_400/0/1687380301723?e=1713456000&v=beta&t=B6z5ahXh1gD5bsuzt-qsuK3Q69cfYcCE-JEnGXDWyH4"
                  width="25" height="25" alt="Foto de usuario" class="foto-usuario" *ngIf="rodrigoIvan === 1">
                <img src="https://media.licdn.com/dms/image/D4D35AQEmlvqfLAIAUw/profile-framedphoto-shrink_400_400/0/1711989106737?e=1713456000&v=beta&t=uAhID4cKEiGCasno3V22hbrXDrOhrDykgp6yzikOPbA"
                  width="25" height="25" alt="Foto de usuario" class="foto-usuario" *ngIf="rodrigoIvan === 2">
                <img src="https://raw.githubusercontent.com/rorro6787/rorro6787/main/Images/Images/ra.jpg"
                  width="25" height="25" alt="Foto de usuario" class="foto-usuario" *ngIf="rodrigoIvan === 3">
                <span class="nombre-usuario"> {{ username }}: </span> 
                <span [innerHTML]="mensaje.mensajeEnviado"></span>
                <!-- Botón para eliminar mensaje -->
                <button type="button" class="btn btn-danger btn-sm btn-eliminar" (click)="borrarMensaje(i, mensaje.mensajeEnviado)">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </div>
    </div>
</div>