<div class="container">
    <h4 class="mt-4">SESIÓN {{sesion.id}}</h4>

    <div class="seccion">
        <div class="usuario">
            <h2 style="text-align: center;">Información de la sesión</h2>
                <b>Inicio:</b>
                {{sesion.inicio}} <br>
                <b>Fin:</b>
                {{sesion.fin}} <br>
                <b>Actividad realizada:</b>
                {{sesion.decripcion}} <br>
                <b>Tipo de sesión: </b>
                {{sesion.presencial ? "Presencial" : "Online"}}
        </div>
        <div class="ejercicio">
            <h2 style="text-align: center;">Informe general</h2>
            <div>
                <b>Salud:</b>
                <div *ngFor="let dato of sesion.datosSalud">
                    {{dato}}
                </div>
                <div *ngFor="let link of sesion.multimedia">
                    <b>Multimedia:</b>
                    <a [href]="link"><img [src]="link" alt="Vista previa del video"></a>
                </div>
            </div>
        </div>
    </div>
</div>