<div class="container">
    <h4 class="mt-4">SESIÓN {{sesion.id}}</h4>

    <div class="seccion">
        <div class="usuario">
            <h2 style="text-align: center;">Información de la sesión</h2>
                <b>Inicio:</b>
                {{sesion.inicio}} <br>
                <b>Fin:</b>
                {{sesion.fin}} <br>
                <b>Actividad realizada:</b>
                {{sesion.trabajoRealizado}} <br>
                <b>Tipo de sesión: </b>
                {{sesion.presencial ? "Presencial" : "Online"}}
        </div>
        <div class="ejercicio">
            <h2 style="text-align: center;">Informe general</h2>
            <div>
                <div *ngFor="let dato of sesion.datosSalud">
                  <b>Salud:</b>
                    {{dato}}
                </div>
                <div *ngFor="let link of sesion.multimedia">
                    <b>Multimedia: </b>
                    <a [href]="link"><img [src]="link" alt="Vista previa del video"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="comentarios">
        <h4 class="mt-4">CONTACTO</h4>
        <div class="card">
          <div class="card-body">
            
            <!-- Formulario de envío de mensajes -->
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Escríbele algo a tu entrenador"
              aria-label="Escribe tu mensaje aquí" [(ngModel)]="nuevoMensaje" (keyup.enter)="enviarMensaje()">
              <div class="input-group-append">
                <button class="btn btn-outline-primary btn-enviar-mensaje" type="button" (click)="enviarMensaje()">
                  <i class="bi bi-envelope-fill"></i> Enviar
                </button>
              </div>
            </div>
      
            <!-- Sección para mostrar mensajes enviados -->
            <div *ngFor="let mensaje of mensajes" class="mensaje">
              <div class="mensaje-enviado">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9Pw6wxK-ziVr6gRjpZbINehT4GTFNi5FbJ6F-radiSw&s"
                  width="25" height="25" alt="Foto de usuario" class="foto-usuario">
                <span class="nombre-usuario"> {{ username }}: </span> 
                <span [innerHTML]="mensaje.mensajeEnviado"></span>
              </div>
            </div>
    </div>
</div>