<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card" *ngIf="!usuario">
        <div class="card-body">
          <div class="mb-3">
            <label for="email" class="col-form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
          </div>
          <button (click)="recordar()" class="btn btn-primary mb-3">Recordar</button>
          <div *ngIf="mensaje" class="alert" [class.alert-danger]="error" [class.alert-success]="!error" role="alert">
            {{mensaje}}
          </div>
          <p class="float-end">Volver a la página de <a class="link-primary" [routerLink]="'/login'">login</a></p>
        </div>
      </div>
      <div class="card" *ngIf="usuario">
        <div class="card-body">
          <p class="alert alert-danger" >No se puede recordar contraseña si ha hecho login.</p>
        </div>
      </div>
    </div>
  </div>
