<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{accion}} sesión</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="inicio">Fecha inicio:</label>
    <input type="date" class="form-control" id="inicio" [(ngModel)] = "sesion.inicio" placeholder="inicio">
    <label for="fin">Fecha inicio:</label>
    <input type="date" class="form-control" id="fin" [(ngModel)] = "sesion.fin" placeholder="fin">
    <label for="trabajoRealizado">Trabajo realizado:</label>
    <input type="text" class="form-control" id="trabajoRealizado" [(ngModel)]="sesion.trabajoRealizado" placeholder="Mucho ejercicio">
    <label for="multimedia">Contenido multimedia:</label>
    <input type="text" class="form-control" id="multimedia" [(ngModel)]="sesion.multimedia[0]" placeholder="text">
    <label for="descripcion">Descripcion:</label>
    <input type="text" class="form-control" id="descripcion" [(ngModel)]="sesion.descripcion" placeholder="descripcion">
    <label for="presencial">Sesion presencial: </label>
    <input type="radio" [(ngModel)]="sesion.presencial" [value]="true"> Si
    <input type="radio" [(ngModel)]="sesion.presencial" [value]="false"> No <br>
    <label for="datosSalud">Datos de la salud:</label>
    <input type="text" class="form-control" id="datosSalud" [(ngModel)]="sesion.datosSalud[0]" placeholder="salud">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="guardarSesion()">Guardar</button>
</div>