<div class="container">
    <button class="btn btn-primary mb-3" (click)="backToEntrenamientos()">Back</button>
    <div class="row">
        <div class="container">
            <h4> Sesión  de entrenamiento de {{username}}</h4>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Tipo de Sesión</th>
                  <th>Fecha de Inicio de la Sesión</th>
                  <th>Fecha de Fin de la Sesión</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sesion of sesiones">
                  <td>Sesion de {{ sesion.trabajoRealizado }}</td>
                  <td>Inicio: {{ sesion.inicio}}</td>
                  <td>Fin: {{ sesion.fin}}</td>
                  <td>
                    <button class="btn btn-sm btn-outline-info m-1" (click)="verSesion(sesion.id)">
                      <i class="bi bi-eye-fill"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-primary m-1" (click)="editarSesion(sesion)">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-danger m-1" (click)="eliminarSesion(sesion)">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline-success bi bi-plus-lg" (click)="agregarSesion()">
                  
                </button>
              </div>
            </div>
          </div>
          
    </div>
</div>
