<div class="container">
  <button class="btn btn-primary mb-3" (click)="vueltaASesiones()">Back</button>
  <h4 class="mt-4">CONTACTO</h4>
  <div class="card">
    <div class="card-body">
      
      <!-- Formulario de envío de mensajes -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Escríbele algo a tu entrenador"
        aria-label="Escribe tu mensaje aquí" [(ngModel)]="nuevoMensaje" (keyup.enter)="enviarMensaje()">
        <div class="input-group-append">
          <button class="btn btn-outline-primary btn-enviar-mensaje" type="button" (click)="enviarMensaje()">
            <i class="bi bi-envelope-fill"></i> Enviar
          </button>
        </div>
      </div>

      <!-- Sección para mostrar mensajes enviados -->
      <div *ngFor="let mensaje of mensajes" class="mensaje">
        <div class="mensaje-enviado">
          <img src="https://media.licdn.com/dms/image/D4D03AQFse8YRcdyW4A/profile-displayphoto-shrink_800_800/0/1687380299542?e=1717027200&v=beta&t=jUL42TEch0Y18Isk7ecFHn23TPSAPuId8SpCLNYYcC8"
            width="25" height="25" alt="Foto de usuario" class="foto-usuario">
          <span class="nombre-usuario"> {{ usuario.nombre }}: </span> 
          <span [innerHTML]="formatearEnlaces(mensaje.mensajeEnviado)"></span>
        </div>
      </div>
    
    </div>
  </div>
</div>

