<div class="d-flex justify-content-center align-items-center">
    <div class="col-lg-8 text-center">
        <button [routerLink]="'/usuarios'" class="btn btn-primary btn-lg btn-block custom-button mb-3 locked-button">Gestión de usuarios (solo administradores) <i class="fas fa-lock mr-2"></i></button>
        <br>
        <button [routerLink]="'/entrenamiento'" class="btn btn-success btn-lg btn-block custom-button locked-button2">Servicio de Entrenamientos (solo clientes) <i class="fas fa-lock"></i></button>
    </div>
</div>