


<div class="container">
<div class="hero animated">
    <h1>Bienvenido a Ciklum</h1>
    <p>Descubre todo lo que tenemos para ofrecerte</p>
    <button [routerLink]="'/usuarios'" class="btn btn-primary mr-2">Gestión de usuarios (solo administradores) <i class="fas fa-lock mr-2"></i></button>
        <br>
    <button [routerLink]="'/entrenamientos'" class="btn btn-success">Servicio de Entrenamientos (solo clientes) <i class="fas fa-lock"></i></button>
</div>
</div>

<div class="container">
<div class="about animated">
    <h2>Acerca de Nosotros</h2>
    <p>Somos una empresa comprometida con la calidad y la satisfacción del cliente. Nuestro objetivo es ofrecer productos innovadores y servicios excepcionales.</p>
</div>

<div class="contacto animated">
    <h2>Contacto</h2>
    <p>¡Contáctanos para obtener más información!</p>
    <a href="https://www.ciklum.com/about-ciklum">info-ciklum&ciklum.com</a>
</div>
</div>

<div class="footer animated">
    <p>&copy; 2024 Ciklum </p>
</div>




<!--
<div class="d-flex justify-content-center align-items-center">
    <div class="col-lg-8 text-center">
        <button [routerLink]="'/usuarios'" class="btn btn-primary btn-lg btn-block custom-button mb-3 locked-button">Gestión de usuarios (solo administradores) <i class="fas fa-lock mr-2"></i></button>
        <br>
        <button [routerLink]="'/entrenamientos'" class="btn btn-success btn-lg btn-block custom-button locked-button2">Servicio de Entrenamientos (solo clientes) <i class="fas fa-lock"></i></button>
    </div>
</div>-->