<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{accion}} plan</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="inicio">Fecha de inicio:</label>
    <input type="date" class="form-control" id="inicio" [(ngModel)] = "plan.fechaInicio" placeholder="inicio">
    <label for="fin">Fecha de fin:</label>
    <input type="date" class="form-control" id="fin" [(ngModel)] = "plan.fechaFin" placeholder="fin">
    <label for="trabajoRealizado">Regla de Recurrencia:</label>
    <input type="text" class="form-control" id="rRecurrencia" [(ngModel)]="plan.reglaRecurrencia" placeholder="Mucho ejercicio">
  </div>
</div>
<div class="modal-footer">
  <div class="error-message" [ngClass]="{ 'red-text': errorMensaje }" *ngIf="errorMensaje"
  style="color: red; position: relative;">{{ errorMensaje }}</div>
  <button type="button" class="btn btn-outline-dark" (click)="guardarPlan()">Guardar</button>
</div>